<tr style="height: 4px">
  <th
    id="22770290R40"
    style="height: 4px"
    class="row-headers-background"
  >
    <div class="row-header-wrapper" style="line-height: 4px">41</div>
  </th>
  <td></td>
  <td class="s19"></td>
  <td class="s19"></td>
  <td class="s19"></td>
  <td class="s19"></td>
  <td class="s19"></td>
  <td class="s19"></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
